{% extends 'base.html' %}

{% block body %}
    <p class="lead">
        Book appointments in the berlin authorities more easy!
    </p>
    <div class="alert alert-danger">
        <strong>Notice:</strong> This is a private toy project!
        No support provided and no commercial use allowed. Please read the <a href="/terms">terms</a>!
    </div>

    <p>Appointment booking in the Berlin authorities can be really frustrating.
    Appointments go available at different tims and sind often booked out shortly after.
    For a successful booking you have to click yourself constantly for months through their service.
    This is almost impossible for working people.</p>

    <p>This service tries to help with this problem.
    You select a service where you want to book the appointment for and a location where you want to book it and retrieve the booking-email-address.
    This you enter this together with your name and your email address in this service.
    From this point on it will check in regular intervals if there is a free appointment and if so, books it on your behalf.</p>

    <p>The maximum time to try is 30 days.
    After this period your request gets cancelled if there is still no appointment available.</p>

    <p>The necessary URL can be found at the websites of the "Terminbuchungssystem" at service.berlin.de.
    Select your service at: <a href="https://service.berlin.de/dienstleistungen/" target="_blank">https://service.berlin.de/dienstleistungen/</a>
    and copy the "link address" of the "Termin buchen" link for the location you want zo go.</p>

    <div class="alert alert-warning">
        <strong>Notice:</strong> The requests will be processed in the order they came in.
        It will not give you any benefit to register multiple requests for the same service.
    </div>

    <p>
        <a href="/create" class="btn btn-outline-primary col align-self-center" role="button">Register your request now!</a>
    </p>
{% endblock %}