{% extends 'base.html' %}

{% block body %}
    <p class="lead">Book appointments with the Berlin authorities more easily!</p>

    <div class="alert alert-danger">
        <strong>Notice:</strong> This is a private side-project! No support provided and no commercial use allowed.
        Please read the <a href="/terms">terms</a>!
    </div>

    <p>
        Appointment booking with the Berlin authorities can be really frustrating. Appointments become available at
        different times and are often booked out shortly after. For a successful booking you have to click 'refresh'
        constantly for days or months and this is almost impossible for working people.
        This service tries to help you with this problem. You select a service that you want to book the appointment for
        and
        a location where you want to book it and retrieve the booking-link-address. Simply copy and paste it into the
        Punkow
        form, together with your name and your email address and from this point on Punkow will check at regular
        intervals
        (every 5 minutes) if there is a free appointment and if so, will book it on your behalf.
        It will do this for up to 30 days. After this period your request will be cancelled if there is still no
        appointment
        available.</p>

    <h4>INSTRUCTIONS:</h4>

    <p>Keep Punkow (<a href="{{ app.cfg_base_url }}">{{ app.cfg_base_url }}</a>) open and open a new window of your
        internet browser.</p>

    <p>Select the service you want to book at: 
        <a href="https://service.berlin.de/dienstleistungen/" target="_blank">https://service.berlin.de/dienstleistungen/</a>
        e.g. Einbuergerung (under letter E)</p>
    <p></p>


    <p>Look for a location that offers online booking – you will see 'Termin Buchen' on the right side of the page.
        NB: Although many things can be done at any Amt, some services will only be offered at an Amt in your Wohnbezirk
        (the area where you registered when you moved there) – please check before you attempt to make your booking.</p>
    <p>Right click on 'Termin Buchen' at the location you want to book.</p>
    <p>Left click 'Adresse des Links kopieren” or “Copy Link Address” and click to open the Punkow window again.</p>
    <p>Click on the blue box at the bottom of the page “Register your request now!” and paste the link address into the
        first box “Start URL”.</p>

    <p>Fill in the rest of the form with your name and email address, accept the terms of this service and hey presto,
        your
        request is now active.</p>

    <p>The Punkow system will not be able to book specific appointments, but it will search for the next available
        appointment at your chosen location. You will receive a confirmation from the Amt itself (not from Punkow) and
        this
        will allow you to cancel the appointment if it is not convenient for you. If you want to try again, you can set
        up a
        new request, but please do not enter more than one request for the same service in the same location at the same
        time.</p>

    <div class="alert alert-warning">
        <strong>Notice:</strong> The requests will be processed in the order they came in.
        It will not give you any benefit to register multiple requests for the same service.
    </div>

    <p>
        <a href="/create" class="btn btn-outline-primary col align-self-center" role="button">Register your request
            now!</a>
    </p>
{% endblock %}
