{% extends 'base.html' %}

{% block body %}
    <h2>Terms & conditions</h2>

    <p>This is no commercial service.
        Therefore I do not provide any guarantees about the availability and quality of this service.</p>

    <p>Only private use for people ith genie needs for appointments in the administration of th city of berlin is
        allowed.
        It is not allowed to use this service for any commercial purposes.</p>

    <p>The terms and conditions of the appointmentbooking system of the administration of the city of Berlin apply.
        If you use this service you confirm that these are known to you and we can accept them at the time of the
        registration on your behalf.
        The full text can be found at:
        <a href="https://service.berlin.de/terminvereinbarung/nutzungsbedingungen/" target="_blank">https://service.berlin.de/terminvereinbarung/nutzungsbedingungen/</a>
    </p>

    <p>To use the service you have to enter personal data.
        These contain your email address and your name.
        This data is only used to fill in the registration form for appointments.
        It is deleted as soon as the request is processed or cancelled.</p>

    <p>You agree the the data will be submitted to appointment booking portal.
        The portals privacy policy can be found at:
        <a href="https://service.berlin.de/terminvereinbarung/datenschutzerklaerung.705213.php">https://service.berlin.de/terminvereinbarung/datenschutzerklaerung.705213.php</a>
    </p>
{% endblock %}
